@page
@model Razor_MailClient.Pages.indexModel
@{
    ViewData["Title"] = "index";
}
@using Microsoft.AspNetCore.Http


<style>
    #EmailList {
        border-collapse: collapse;
        /*width: 75%;
        float: left;*/
        width: 100%;
    }

    table, th, td {
        /*border: 1px solid black;*/
    }


    #folderList {
    }

    #left {
        width: 10%;
        float: left;
        margin-right: 20px;
        padding-right: 10px;
    }

    #right {
        width: 75%;
        float: left;
    }

    #read {
        margin-top: 10px;
        padding: 15px;
    }

    #emailListDiv {
        padding: 5px;
    }

    #folderList button {
        background-color: #1493CC;
        border: 1px solid #14BCCC;
        color: white;
        width: 100%;
        display: block;
    }

        #folderList button:not(:last-child) {
            border-bottom: none;
        }

        #folderList button:hover {
            background-color: #097EB2;
        }

        #folderList button:disabled {
            background-color: orange;
            font-weight: bolder;
            text-decoration: underline;
        }

    #send_buttons {
        padding: 5px;
        background-color: lightblue;
    }

    #BigHeader {
        margin: 10px;
    }

    #MainContent {
        margin: 10px;
    }
</style>
<div id="BigHeader">
    <h1>Quick Email Client</h1>

    <h3>Message: @Model.Message</h3>

    <p>
        #Emails: @Model._emails.Count
    </p>
</div>
<br />
<div id="MainContent">

    <form method="post">

        <div id="left">

            <div id="folderList">

                @for (int i = 0; i < @Model._folders.Count; i++)
                {
                    @if (Model._folders[i].SELECTED)
                    {
                        <button disabled>@Model._folders[i].NAME</button>
                    }
                    else
                    {
                        <button type="submit" asp-page-handler="FolderSelected" asp-route-folder_id="@Model._folders[i].ID">@Model._folders[i].NAME</button>
                    }
                }
            </div>
        </div>
        <div id="right">
            <div id="emailListDiv">
                <div>
                    <label>@(Model._active_folder == null ? "" : Model._active_folder.NAME)</label>
                </div>
                <table id="EmailList" class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                ID
                            </th>
                            <th scope="col">
                                FROM
                            </th>
                            <th>
                                SUBJECT
                            </th>
                            <th>
                                DATE_RECEIVED
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < @Model._emails.Count; i++)
                        {
                            string _style = Model._emails[i].ID == Model.SELECTED_EMAIL_ID ? "font-weight:bolder;" : null;

                            <tr style="@_style">
                                <td>
                                    @Model._emails[i].ID
                                </td>
                                <td>
                                    @Model._emails[i].FROM
                                </td>
                                <td>
                                    @Model._emails[i].SUBJECT
                                </td>
                                <td>
                                    @Model._emails[i].DATE_RECEIVED
                                </td>
                                <td>
                                    <button class="btn btn-default" type="submit" asp-page-handler="ReadEmail" asp-route-ID="@Model._emails[i].ID" asp-route-folder_id=@Model._active_folder.ID>Read</button> &nbsp;
                                    <button class="btn btn-default" type="submit" asp-page-handler="DeleteEmail" asp-route-ID="@Model._emails[i].ID">Delete</button> &nbsp;
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div id="send_buttons">
                <button class="btn btn-default" type="submit" asp-page-handler="NewEmail">New</button> &nbsp;

                @if (Model._readingEmail.ID == -1)
                {
                    <button class="btn btn-default" type="submit" asp-page-handler="SendEmail">Send</button>
                }
                else
                {
                    <button class="btn btn-default" disabled>Send</button>
                }

            </div>

            <div id="read" class="container">
                <div class="row">
                    <div class="col-xs-7">
                        @Html.LabelFor(x => @Model._readingEmail.ID, new { @class = "badge badge-default" })
                    </div>
                    <div class="col-xs-5">

                        @Html.TextBoxFor(x => @Model._readingEmail.ID, new { @disabled = "true", @class = "form-control" })
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        @Html.LabelFor(x => @Model._readingEmail.TO, new { @class = "badge badge-default" })
                    </div>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(x => @Model._readingEmail.TO, new Dictionary<string, object>()
    {{(Model._readingEmail.ID != -1) ? "disabled": "data-notdisabled" , "disabled" },
    { "class","form-control" }})
                        @*<span asp-validation-for="@Model._readingEmail.TO" class="text-danger"></span>*@
           
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        @Html.LabelFor(x => @Model._readingEmail.FROM, new { @class = "badge badge-default" })
                    </div>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(x => @Model._readingEmail.FROM, new Dictionary<string, object>()
    {{(Model._readingEmail.ID != -1) ? "disabled": "data-notdisabled" , "disabled" },
    { "class","form-control" }})
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        @Html.LabelFor(x => @Model._readingEmail.DATE_RECEIVED, new { @class = "badge badge-default" })
                    </div>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(x => @Model._readingEmail.DATE_RECEIVED, new Dictionary<string, object>()
    {{(Model._readingEmail.ID != -1) ? "disabled": "data-notdisabled" , "disabled" },
    { "class","form-control" }})
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-xs-6">
                        @Html.LabelFor(x => @Model._readingEmail.SUBJECT, new { @class = "badge badge-default" })
                    </div>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(x => @Model._readingEmail.SUBJECT, new Dictionary<string, object>()
    {{(Model._readingEmail.ID != -1) ? "disabled": "data-notdisabled" , "disabled" },
    { "class","form-control" }})
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-xs-6">
                        @Html.LabelFor(x => @Model._readingEmail.BODY, new { @class = "badge badge-default" })
                    </div>
                    <div class="col-xs-6">
                        @Html.TextAreaFor(x => @Model._readingEmail.BODY, new Dictionary<string, object>()
    {{ "rows" , "7" },
    { "cols" , "80"} ,
    { (Model._readingEmail.ID != -1) ? "disabled": "data-notdisabled" , "disabled" },
    {"class", "form-control"  }
    })
                    </div>
                </div>

                <br />
                <br />
            </div>
        </div>

    </form>
</div>